* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  /* overflow-x: hidden; */
}

.navbar {
  background: rgb(13, 121, 139);
}

.navbar a:hover {
  color: #f4f4f4;
}

.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}

.navbar-collapse {
  justify-content: flex-end;
}

.backImage {
  background-image: url('../img/pvcimg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 45rem;
  width: 100%;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}

.description {
  position: absolute;
  top: 52%;
  margin: auto;
  padding: 2em;
}

.description h3 {
  color: rgb(59, 126, 42);
  text-align: left;
  text-align: center;
  margin-left: -42%;
}

.description p {
  color: rgb(13, 121, 139);
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
  margin-left: 5%;
  margin-top: 14%;
}

.h {
  margin-top: 5em;
}

p {
  color: rgb(59, 126, 42);
  position: relative;
  top: 5px;
  font-size: 130%;
}

.about {
  margin: 4em 0;
  padding: 3em;
  position: relative;
}

.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
  color: rgb(101, 104, 112);
}

.list-group {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.466);
}

.list-group-item {
  color: white;
  text-align: center;
  background-color: rgb(59, 126, 42);
  cursor: pointer;
  border-radius: 0;
}

.notices {
  width: 27%;
  margin-left: 68%;
  margin-top: -39%;
}

.votepower {
  font-size: 1.12rem;
  text-align: center;
}

.countdown {
  height: 222px;
  background-color: #026a72;
  position: relative;
  top: 17.33em;
  text-align: center;
  padding: 2rem;
}

.countdown h1 {
  text-transform: uppercase;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #083035;
  font-size: 120%;
}

.countdown #demo {
  color: #eeeeee;
  position: relative;
  top: 15px;
  font-size: 400%;
  text-align: center;
}

/* Styling the registration form */
.myModal {
  position: fixed;
  left: 0;
  right: 0;
  top: -100px;
  z-index: 5000;
  width: 100%;
  height: 115%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modalContent {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 0;
  border: 1px solid #093602cc;
  width: 80%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-height: 680px;
}

.close {
  color: #666464;
  font-size: 28px;
  font-weight: bold;
  float: right;
  margin-top: -40px;
}

.close:hover,
.close:focus {
  color: #090909;
  text-decoration: none;
  cursor: pointer;
}

.modalHeader {
  padding: 12px 30px;
  background-color: #03482c;
  color: #f8f8f8;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #03482c;
  box-shadow: 0 0px 8px 9px rgba(0, 0, 0, 0.19);
}

.footer{
  background: #000;
  height: 200px;
}

.modalHead {
  font-weight: bolder;
  padding-top: 5px;
}

.modal-body {
  padding: 2px 16px;
}

.modalFooter {
  padding: 2px 16px;
  background-color: #03482c;
  color: #f8f8f8;
  padding: 8px 30px;
  text-align: center;
  margin-top: -619px;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Styling the form elements */
.bkg {
  background-image: url('../img/Flag-map_of_Nigeria.svg.png');
  height: 556px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  filter: opacity(.3);
}

.proudly {
  position: absolute;
  left: 78%;
  bottom: 38%;
}

#regForm {
  background-color: transparent;
  margin: 25px auto;
  width: 90%;
  min-width: 300px;
  z-index: 1000;
  position: relative;
  top: -573px;
}

input {
  padding: 8px;
  display: block;
  width: 40%;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #aaa;
  transition: width 400ms ease-in-out;
  border-radius: 3px;
  margin-bottom: 10px;
}

input:focus {
  width: 60%;
  border: 1px solid #026b41;
  box-shadow: 0 0px 6px 1px rgba(110, 238, 110, 0.4);
}

input.invalid {
  background-color: #ffdddd;
}

/* Hide all tabs by default */
.tab {
  display: none;
}

/* the circles */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step */
.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #4caf50;
}

.tab {
  font-weight: 600;
  color: #888;
}

.label {
  display: block;
  clear: both;
  padding-bottom: 5px;
  text-align: left;
}

.buttons button {
  background-color: #03482c;
  padding: 8px;
  width: 148px;
  border: none;
  box-shadow: 0 0px 6px 1px rgba(14, 14, 14, 0.4);
  color: #f8f8f8;
  transition: all 500ms ease-in-out;
}

.buttons button:hover {
  background-color: #ffffff00;
  box-shadow: inset 0 0 0 3px #03482c;
  color: #03482c;
}

.tbc {
  font-weight: bold;
  color: #15a06e;
}

/* lazy nigeria */
.lazyNigerian {
  position: absolute;
  top: 225%;
  width: 100%;
  background-color: #083035;
  text-align: center;
  height: 20rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.666);
}


.textInfo {
  position: absolute;
  top: 6rem;
  left: 45%;
  z-index: 400;
}

.but {
  margin-top: 5rem;
  border: none;
  box-shadow: 0 0 4px 2px rgba(241, 240, 240, 0.466);
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.but:hover {
  transform: scale(1.3);
  box-shadow: inset 0 0 0 3px #03482c;
  background-color: rgba(0,0,0,0);
}

.gameOn {
  border: none;
  padding: .2rem .8rem;
}

.slant {
  background-color: #cf810bd2;
  height: 20rem;
  width: 50%;
}

.right {
  height: 20rem;
  width: 50%;
}

.slant p,
.right p {
  color: #dbdbdb;
}

.one {
  padding-top: 3.1rem;
}

.bold {
  font-size: 2.5rem;
  padding-top: 1.5rem;
}

.stat {
  padding-top: 2.2rem;
}

/* Styling the userInfo bobito */
.boxes {
  position: absolute;
  top: 157%;
  left: 7%;
}

.boxes .col-lg-3,
.boxes .col-md-3 {
  padding-right: 5rem;
}

.card{
  transition: scale 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover{
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.15);
  transform: scale(1.01);
}

.card-body .fas{
  font-size: 100px;
  color: gray;
  margin-left: 65px;
}

.card-title {
  margin-top: 36px;
  margin-bottom: 1.75rem;
  text-transform: uppercase;
  color: #20c9de;
  font-weight: bold;
  font-size: medium;
  text-align: center;
}

.card-text {
  text-align: justify;
  color: gray;
  font-size: 1.2rem;
}

.card-footer:hover{
  background: #090909;
}
.card-footer:hover .card-link{
  color: #f7f7f7;
}

.card-footer{
  text-transform: uppercase;
  transition: background-color 500ms ease-in-out,
              color 500ms ease-in-out;
}

/* Ibekwe prince styling */
#carouselExampleIndicators {
  top: 292%;
  position: absolute;
  width: 98%;
}

.ourWord {
  text-align: center;
  padding-bottom: 2rem;
  color: #b8b8b8;
  text-transform: uppercase;
}

.testimonials{
  display: flex;
}

.testimonials .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  /* height: 550px; */
}

.testimonials .col-lg-4,
.col-md-4 {
  padding-right: 0;
}

.card-im{
  height: 18rem;
}

img{
  width:100%;
  height:100%;
}

.card-body{
  font-size: 0.8rem;
}

.testimonials .card-title {
  color: grey;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.portfolio{
  font-size: 1.1rem;
}

.card-text{
  font-size: small;
  text-align: center;
}

footer .col-lg-3 {
  max-width: 22%;
}

/* Footer Ezekiel Blanc*/
footer {
  padding: 2rem 1rem;
  margin-top: 50px;
  background-color:#024347;
  color: #ccc;
  position: absolute;
  top: 375%;
  width: 100%;
}

ul {
  list-style: none;
}

ul li a:hover {
  text-decoration: none;
  color: gray;

}
ul li {
  text-align: justify;
}

.faq li {
  padding-bottom: 1rem;
}

li a {
  color: #ccc;
  line-height: 10px;
  text-align: justify;
}

.menu {
  line-height: 40px;
  text-align: justify;
}

.menu li {
  list-style: none;
  transition: margin-left 300ms ease-in-out;
}

.menu li:hover {
  color: gray;
  cursor: pointer;
  margin-left: 5px;
}

.footer-title {
  color:#df9800c4;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

form {
  margin-top: 25px;
  padding: 20px;
}

input[type=email] {
  margin: 15px;
  padding: 3px;
}

.team input {
  height: 2.5rem;
  width: 13.5rem;
  margin-left: -0.5rem;
}

footer .btn-primary {
  position: relative;
  left: 150px;
  height: 2.2rem;
  bottom: 63px;
  margin-left: 4rem;
  background: #cf810bcc;
  border: none;
}

footer .btn-primary:hover {
  box-shadow: inset 0 0 0 1px #f4f7f6;
  color: #f4f7f6;
  background-color: rgba(0,0,0,0);
}

.powered {
  margin-top: 1.1rem;
  text-align: center;
  background-color: #083035;
  margin-bottom: -31px;
  padding: 2rem;
  margin-left: -1rem;
}

.item .fab {
  font-size: 2.4rem;
  display: inline;
  cursor: pointer;
  padding-right: .8rem;
}
