* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #2d2c2c;
  }

  body{
      position: relative;
    background-color: #dfdfdf;  
    /* background-image: url('../images/Untitled Folder/images.png'); */
      background-position: center center no-repeat;
      background-size: cover;
     }

  #bgimage{
  font-family: sans-serif;
  background-color: gray;
 
  background-position: center center;
  background-size: cover;
  position: fixed;
  background-image: url('../voters card/images/image8.png');
  height: 300px;
  width: 50%;
  display: flex;
  left: 300px;
  top: 180px;
  z-index: 3000px;
  margin:  auto;
  border: 2px outset #008751;
  border-radius: 20px;
  box-shadow: 3px 3px 1px grey, -3px -3px 1px grey;
  }

  #bgimage h2{
      top: 20px;
        font-size: 24px;
      position:absolute;
      left: 150px;
      
  }
  #bgimage h3{
      position: absolute;
      top: 50px;
      left: 190px;
  }

  #pvc{
    font-family: sans-serif;
    font-size: 22px;
    position: absolute;
    top: 10px;
    padding: 9px;
    color: white;
    letter-spacing: 0.5rem;
}

  #rlogo{
      float: right;
      border-radius: 100%;
      margin-left: 475px;
  }
  #llogo{
      float:left;
    
  }

  #user-details{
     position: absolute;
     top: 90px;
    left: 170px;
    line-height: 30px;   
    font-size: bold;
    color:black; 
    width: 336px;
    font-kerning: initial;  
  }

#user-image{
    position: absolute;
    margin-right: 80px;
    top: 80px;
    /* left: 10px;
    width: 90px;
    height: 100px; */
    border: 2px solid #0b9961;
   
}

#centerimage{
    position: absolute; 
    left: 240px;
     top: 100px;
}

.green{
    color: #008751;
}

.white{
    color: white;
}



/*styling header*/
#navv{
    width: 100%;
    height: 60px;

    background-color: #008751;
    color: yellow;
}
#restart{
    float: right;
    position: absolute;
    left: 1200px;
    top: 7px;
    width: 100px;    
    padding: 9px;
    border: none;
}

#restart:hover{
    color:white;
    box-shadow: inset 0 0 0 3px #f9f9f9f9;
    background-color:rgba(0,0,0,0);
}


#heading{
    font-family: sans-serif;
    margin: 0 auto;
    position: absolute;
    left: 290px;
    top: 80px;
}

.print{
    float: right;
    position: absolute;
    left: 170px;
    bottom: -100px;
    width: 300px;
    padding: 9px;
    transition: all 300ms ease-in-out;
    border-radius: 0;
    background-color: #008751;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 20px 0px;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.3);
}

#idNumber{
    position: absolute;
    top: 90px;
    right: -4px;
}
#idNumber p {
    color: #f9f9f9b3;
}
#idn{
    position: relative;
    right: 7px;
}



.print:hover{
    background: rgba(0,0,0,0);
    box-shadow: inset 0 0 0 3px green;
    color: green;
}