body{
    background-color: #026a72;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Styling the header*/
#navv{
    width: 100%;
    height: 60px;

    background-color:#008751;
    color: yellow;
}
#restart{
    float: right;
    position: absolute;
    left: 1200px;
    top: 7px;
    width: 100px;
    padding: 9px;
    border: none;
}

#restart:hover{
    color:white;
    box-shadow: inset 0 0 0 3px #f9f9f9f9;
    background-color:rgba(0,0,0,0);
}
#pvc{
    font-family: sans-serif;
    font-size: 22px;
    position: absolute;
    top: 10px;
    padding: 9px;
    color: white;
    letter-spacing: 0.5rem;
}

/*styling questions*/
.questionContainer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin-top: 110px;
    margin-left: 380px;
    /* width: 100%; */
    color: white;
    display: none;
  }

  .ques11{
    width: 1000px;
}

  .question{
      text-align: center;
    width: 654px;
    /* background-color: #008751; */
    padding: 30px;
    border: 2px solid #025960;
    border-radius: 20px;
    text-transform: uppercase;
    /* box-shadow: 3px 3px 1px gray; */
}


.answers{
    position: absolute;
    top: 150px;
    width: 1160px;
    left: -300px;
    list-style: none;

}

.lists{
    background-color: #008751;
    padding: 19px;
    border: 1px solid gray;
    /* box-shadow: 3px 3px 1px gray; */
    border-radius:10px;
    font-size: 20px;
    transition: all 500ms;
}

.lists:hover{
    background: rgba(0,0,0,0);
        box-shadow: inset 0 0 0 3px #f4f7f6;
        color: #f4f7f6;
}

#list2{
    position: relative;
    top: 17px;
}

#list3{
    position: relative;
    top: 30px;
}

/*styling buttons*/
.badges{
    position: relative;
    float: right;
}


.btn{
    margin-top: 310px;
    color: white;
    background-color: rgb(18, 203, 115);
    padding: 18px;
    border: 1px solid #008751;
    border-radius: 10px;
    box-shadow:3px 3px 1px #008751;
    font-size: 18px;
}

#next{
    position: absolute;
    left: 690px;
    width: 200px;
    top: 5rem;
}

#prev{
    position: relative;
    right:  350px;
    width: 200px;
    /* padding: 18px; */
}



#badge8{
    position: relative;
    top: -30px;
    left: -20px;
    font-size: 18px;
}

.btn:hover{
        background: rgba(0,0,0,0);
        box-shadow: inset 0 0 0 3px #f4f7f6;
        color: #f4f7f6;
}