body{
    background-color: #026a72;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Styling the header*/
#navv{
    width: 100%;
    height: 60px;

    background-color:#008751;
    color: yellow;
}
#restart{
    float: right;
    position: absolute;
    left: 1200px;
    top: 7px;
    width: 100px;    
    padding: 9px;
    border: none;
}

#restart:hover{
    color:white;
    box-shadow: inset 0 0 0 3px #f9f9f9f9;
    background-color:rgba(0,0,0,0);
}
#pvc{
    font-family: sans-serif;
    font-size: 22px;
    position: absolute;
    top: 10px;
    padding: 9px;
    color: white;
    letter-spacing: 0.5rem;
}

/*styling questions*/
.questionContainer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin-top: 50px;
    margin-left: 380px;
    /* width: 100%; */
    color: white;
  }

  /* .ques11{
    width: 1000px;
} */

  .question{
      text-align: center;
    width: 654px;
    /* background-color: #008751; */
    padding: 30px;
    border: 2px solid #025960;
    border-radius: 20px;
    text-transform: uppercase;
    /* box-shadow: 3px 3px 1px gray; */
}

/* #question6{
    position: relative;
    width: 900px;
    text-align: left;
    right: 200px;
} */

.answers{
    position: absolute;
    top: 150px;
    width: 1160px;
    left: -300px;
    list-style: none;
    color: white;
   
}



.lists{
    background-color: #008751;
    padding: 14px;
    border: 1px solid gray;
    /* box-shadow: 3px 3px 1px gray; */
    border-radius:10px;
    font-size: 20px; 
    transition: all 500ms;
    color: white;
}


.lists:hover{
    background: rgba(0,0,0,0);
        box-shadow: inset 0 0 0 3px #f4f7f6;
        color: #f4f7f6;
} 

#list2{
    position: relative;
    top: 17px;
}

#list3{
    position: relative;
    top: 30px;
}

#list4{
     position: relative;
     top: 43px;
}

#list5{
    position: relative;
    top: 57px;
}

/*styling buttons*/
.badges{
    position: relative;
    float: right;
}


.btn{
    margin-top: 380px;
    color: white;
    background-color: rgb(18, 203, 115);
    padding: 18px;
    border: 1px solid #008751;
    border-radius: 10px;
    box-shadow:3px 3px 1px #008751;
    font-size: 18px;
}

#next1{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev1{
    position: relative;
    right:  350px;
    width: 200px;
}

#next2{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev2{
    position: relative;
    right:  350px;
    width: 200px;
}

#next3{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev3{
    position: relative;
    right:  350px;
    width: 200px;
}

#next4{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev4{
    position: relative;
    right:  350px;
    width: 200px;
}

#next5{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev5{
    position: relative;
    right:  350px;
    width: 200px;
}

#next6{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev6{
    position: relative;
    right:  350px;
    width: 200px;
}

#next7{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev7{
    position: relative;
    right:  350px;
    width: 200px;
}

#next8{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev8{
    position: relative;
    right:  350px;
    width: 200px;
}

#next9{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev9{
    position: relative;
    right:  350px;
    width: 200px;
}

#next10{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev10{
    position: relative;
    right:  350px;
    width: 200px;
}

#next11{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev11{
    position: relative;
    right:  350px;
    width: 200px;
}

#next12{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev12{
    position: relative;
    right:  350px;
    width: 200px;
}

#next13{
    position: absolute;
    left: 690px;
    width: 200px;   
}

#prev13{
    position: relative;
    right:  350px;
    width: 200px;
}





.btn:hover{
        background: rgba(0,0,0,0);
        box-shadow: inset 0 0 0 3px #f4f7f6;
        color: #f4f7f6;
}


/* #nav6{
    position: relative;
    top: -60px;
} */

/* #nav13{
    position: absolute;
    top: 230px;
} */

/* #nav13{
    position: absolute;
    top: -230px;
} */

/* #ques6{
    position: relative;
    top: 10px;
} */